<body>
<input type='file' id='input'>
<script>

    document.getElementById('input').addEventListener('change', (e) => {
        const file = document.getElementById('input').files[0];
        console.log(8, file, file.size, file.type);

        const splitFile = require('split-file');

        splitFile.splitFile(file, 3)
            .then((names) => {
                console.log(13, names);
            })
            .catch((err) => {
                console.log(16, 'Error: ', err);
            });

        (async () => {
            console.log(17, 'in async !!!!');
            // .text() transforms the file into a stream and then into a string
            const fileContent = await file;
            console.log(17, fileContent);
            // logs "File content!"

            // .stream() returns a ReadableStream
            const fileContentStream = await file.stream();
            console.log(22, await streamToText(fileContentStream));
            // logs "File content!"

            const buffer = await file.arrayBuffer();
            console.log(26, bufferToText(buffer))
            // logs "File content!"

            // .slice() allows you to get slices of the file here we take a slice of the entire file
            const fileSliceBlob = file.slice(0, file.size);
            // we convert to blob to a stream
            const fileSliceBlobStream = await fileSliceBlob.stream();
            console.log(33, await streamToText(fileSliceBlobStream));
            // logs "File content!"

        })();

        // We just use this function to convert streams to text
        const streamToText = async (blob) => {
            const readableStream = await blob.getReader();
            const chunk = await readableStream.read();
            return new TextDecoder('utf-8').decode(chunk.value);
        }

        // Not the best way to get text from a file!
        const bufferToText = (buffer) => {
            const bufferByteLength = buffer.byteLength;
            const bufferUint8Array = new Uint8Array(buffer, 0, bufferByteLength);
            return new TextDecoder().decode(bufferUint8Array);
        }
    })




</script>
</body>
